* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Helvetica, Arial, Serif;
}

footer {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 1em;
}

header {
    background-color: #014164;
    padding: 1em;
}

#somos {
    background-color: rgb(187, 230, 193);
    padding: 1em;
}