# =========================
# REDIRECCIÓN HTTPS
# =========================
RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTPS} on

#RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^quienes-somos$ index.php [L]
RewriteRule ^equipo$        index.php [L]
RewriteRule ^contacto$      index.php [L]


# =========================
# COMPRESIÓN GZIP / DEFLATE
# =========================
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json image/svg+xml
</IfModule>