services:
  nginx:
    image: nginx:alpine
    container_name: ${PROJECT_NAME}_nginx
    environment:
      VIRTUAL_HOST: ${DOMAIN}
      LETSENCRYPT_HOST: ${DOMAIN}
    volumes:
      - ./src:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - proxy

networks:
  proxy:
    external: true
