body {
    font: 18px Helvetica, Arial, Serif;
    line-height: 1.8rem;
}

header {
    background-color: #014164;
}

.about {
    background-color: #014164;
}

footer {
    background: #2b2b2b;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}
