* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'Cantarell';
    font-display: swap;
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype');
}

body {
    font: 18px Helvetica, Arial, Serif;
    line-height: 1.8rem;
}

p {
    
    margin-bottom: 1.4rem
}

footer {
    background: #2b2b2b;
    color: #fff;
    padding: 2rem;
    text-align: center
}

footer a {
    color: #fff
}

h2 {
    margin: 1.4rem 0
}

header {
    background-color: #014164;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0
}

.about {
    background-color: #014164;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.4rem
}

header img {
    max-width: 100%;
    height: auto;
    display: block
}

.container {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 15px
}

.col {
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 400px
}

.col img {
    margin: 0 auto 1rem;
    width: 100%;
    height: auto;
    display: block;
    border-radius: .5rem
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem
}
